<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contentproviderstudy2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <!--    // 声明本应用可允许通信的权限（全权限）-->
    <uses-permission android:name="scut.carson_ho.PROVIDER" />

    <!--    // 细分读 & 写权限如下，但本Demo直接采用全权限-->
    <uses-permission android:name="scut.carson_ho.Read" />
    <uses-permission android:name="scut.carson_ho.Write" />

    <!--    // 注：声明的权限必须与进程1中设置的权限对应-->

</manifest>